body {
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 3rem; */
    text-align: center;
    margin: 0
}

#contenedor {
    border: 2px dashed black;
    width: 40rem;
    margin: 40px 0 0 40px
}
#contenido p {
    /* font-size: 20px; */
    color: blue;
}
#cabecera {
    padding: 4px;
    box-shadow: 4px 4px 4px 4px #888;
    color: cyan;
    background-color: darkgoldenrod;
}